<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Timer</title>
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>
    <body>
        <form action="/" method="post">
            <h1 id="title">Interval Timer</h1>
            <div class="form-group" id="top-input">
                <input autocomplete="off" autofocus class="form-control" name="interval" placeholder="Interval" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="break" placeholder="Break" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="quantity" placeholder="Quantity" type="text">
            </div>
            <div class="dbtn">
                <button class="btn btn-primary" type="submit">Start Timers</button>
            </div>
        </form>
    </body>
</html>